

body {
    box-sizing: border-box;
    background-color: #dad7cd;
    margin: 0;
}
/* Nav-Bar*/

    #nav-bar {
        display: flex;
        position: fixed;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #111d13;
        align-items: center;
        height: 10%;
        min-height: 50px;
        transition: 0.2s;
    }
    #nav-links a {
        text-decoration: none;
        padding: 14px 20px;
        font-family: Arial, sans-serif;
        color: #ffe6a7;
    }
    #nav-links a:hover {
        color: #faf3dd;
    }
    #nav-links {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
    }
    #logo a {
        text-decoration: none;
        margin-left: 10%;
        font-family: 'Brush Script MT', cursive;
        color: white;
        overflow: visible;
        font-weight: 300;
        text-shadow: 2px 3px #a44a3f;
        font-size: 60px;
        letter-spacing: 5px;
        transition: 0.2s;
    }
    #logo {
        flex-basis: 50%;
    }
/* Nav-Bar*/

/*Home*/
    #home {
        margin: 7%;
        
    }
    #home .heading {
        font-size: 30px;
        text-align: center;
        font-family: Kaushan Script;
        color: rgba(0, 0, 0, 0.9);
        text-shadow: 1px 1px #709775;
    }
    .flex-container {
        display: flex;
        justify-content: center;
    }
    .flex-container * {
        margin: 20px;
    }
    .welcome {
        color: rgba(0, 0, 0, 0.9);
    }
    .about-san-miguel {
        font-size: 23px;
        font-family: Arial, sans-serif;
        color: rgba(0, 0, 0, 0.7);
        letter-spacing: 1px;
        word-spacing: 4px;
        line-height: 1.6;
        text-indent: 50px;
    }

/*Home*/

/*Destinations*/
    #destinations {
        border-top: .5px solid black;
        background-color: #e3d5ca;
    }

/*Destinations*/