body {
    background-color: #d8f3dc;
    box-sizing: border-box;
}
li {
    display: inline;
    padding: 8px;
    font-weight: bold;
}
li a {
    text-decoration: none;
    color: #ffe6a7;
}
li:hover {
    background-color: #111d13;
    border-radius: 12px;
}
.flex-container-nav-bar {
    display: flex;
    background-color: #415d43;
    align-items: center;
}
.links {
    justify-content: center;
}
#logo a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Brush Script MT', cursive;
    color: white;
    overflow: visible;
    font-weight: 350;
    text-shadow: 2px 2px #a44a3f;
}